<!DOCTYPE html>
<html lang='en'></html>
<head>
	<meta charset='UTF-8'>
	<title>FB Test</title>
	<link href='styles.css' rel='stylesheet'>
</head>
<body>
  <main>
    <h1>Firestore</h1>
    <pre id="obj"></pre>
    <button class="date">data</button>
<!--     <button class="num-t"># * 7</button>
    <button class="num-d"># / 9</button>
    <button class="log-in">log in</button>
    <button class="log-out">log out</button>
    <button class="sign-up">sign up</button>
    <input class="email" type="text" name="email" placeholder="email">
    <input class="password" type="password" name="password" placeholder="password"> -->
    <ol></ol>
    <!-- <p id="react-render"></p> -->
  </main>
	<script src="fb-config.js"></script>
	<script src='js.js'></script>
</body>
</html>
